@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/*Header */
/*Nav*/
nav {
  background-color: white;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  margin-bottom: 5em;
  margin-left: 5em;
}

nav li a {
  color: black;
  text-decoration: none;
  font-weight: 900;
  padding: 5px 20px;
}

nav li ul {
  display: none;
}

.navigation-bar li ul li {
  list-style: none;
  padding: 5px 10px;
  border: 1px solid #c4c4c4;
}

/*nav li ul li a{
   
}*/

#signIn {
  background-color: white;
  border: none;
  padding: 10px 20px;
  font-weight: 800;
  color: black;
}

#signUp {
  background-color: #822292;
  border-radius: 2em;
  padding: 10px 20px;
  font-weight: 800;
  color: white;
}

#landingimage {
  border-radius: 10 10 10 10;
  width: 600px;
  height: 600px;
}
.landingtext {
  padding-top: 15em;
  place-items: center;
}

@media screen and (min-width: 859px) {
    .landingtext #landingimage {
     display: block;
    }
  }

/* End of Header */

/*Section Landing */

div.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5em;
  margin-left: 5em;
  margin-right: 5em;
  place-content: center;
}

#treasure,
#tyrion {
  color: #822292;
}

#h2 {
  font-size: x-large;
}

/*End Section Landing */

/*Section Books Collection*/
#titlebooksection {
  text-align: center;
  padding-top: 2em;
}

.bookscollection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2em;
  margin: 2em 5em 5em 5em;
  place-content: center;
}

@media screen and (max-width: 600px) {
    .bookscollection {
      display: block;
    }
  }

#btnBookInfo{
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 10px 20px;
    margin-top: 2em;
    color: white;
    background-color: #822292;

}

.btnMore{
 display: flex;
 justify-content: center;
 align-items: center;
}

div > #btnMore{
    padding: 10px 20px;
}
/*End Section Books Collection */

/*Footer */
/*Contact Us */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    background-color: rgb(17, 9, 9,0.9);
}
.footer {
  margin-top: 2em;
}

#h2footer{
    color: white;
    font-size: x-large;
    font-weight: 600;
}

.footer .name-email {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}
label {
  color: white;
}

.footer input,
.footer textarea {
  width: 90%;
  resize: none;
  padding: 0.6rem;
  margin-top: 0.5rem;
  border-radius: 0.375rem;
}

.button-footer {
  display: flex;
  justify-content: center;
}

.footer button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #831aa3;
  border: none;
  margin-top: 1rem;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor:pointer;
  transition: all 0.3s ease-in-out;
  color: white;
  border-radius: 0.375rem;
}

.footer button:hover {
  background-color: black;
}

.footer .message-container {
  margin-top: 1rem;
}

@media screen and (max-width: 767px) {
  .footer .name-email {
    grid-template-columns: 1fr;
  }
}
/*End Footer */
/* */
