@import url("https://fonts.googleapis.com/css2?family=Actor&family=Poppins&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins" , "josefins";
}

/*Header */
/*Nav*/
nav {
  background-color: white;
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  margin-bottom: 5em;
  margin-left: 5em;
  margin-top: 1em;
}

nav li a {
  color: black;
  text-decoration: none;
  font-weight: 900;
  padding: 5px 20px;
  font-size: larger;
}

nav li ul {
  display: none;
}

.navigation-bar li ul li {
  list-style: none;
  padding: 5px 10px;
  border: 1px solid #c4c4c4;
}
@media screen and (max-width: 800px) {
  nav {
    display: block;
   margin-bottom: 12em;
  }
}

/*nav li ul li a{
   
}*/

#signIn {
  background-color: white;
  border-radius: 1em;
  padding: 10px 20px;
  font-weight: 800;
  color: black;
}

#signUp {
  background-color: #822292;
  border-radius: 1em;
  padding: 10px 20px;
  font-weight: 800;
  color: white;
}
 


#landingimage {
  border-radius: 10 10 10 10;
  width: 45em;
  height: 40em;
}

.landingtext {
  padding-top: 10em;
  place-items: center;
}



/* End of Header */

/*Section Landing */

div.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
  margin-left: 5em;
  margin-right: 5em;
  place-content: center;
}

#treasure,
#tyrion {
  color: #822292;
}

#tyrion {
  margin-left: 20px;
}

#treasure {
  font-weight: bolder;
}

#h2 {
  font-size: xx-large;
  font-weight: 900;
}

@media screen and (max-width: 800px) {
  .landingimage .landingtext {
    display: block;
    flex-direction:column;
  }
}
/*End Section Landing */

/*Section About*/
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  margin-top: 5em;
  margin-left: 5em;
  margin-right: 5em;
  border-radius: 1px solid black;
  min-width: 30em;
  min-height: 30em;
}

div > #imgaboutsect {
  width: 100%;
  height: 50em;
  border-radius: 5em;
}

div > #abouttext {
  padding: 10em 5em;
  font-size: larger;
  line-height: 2em;
}

div > #abouttext > h1 {
  margin-bottom: 2rem;
  text-align: center;
}

#citadel {
  font-size: x-large;
  color: #822292;
}
@media screen and (max-width: 800px) {
  .about {
    display: block;
  }
}

/*End Section About*/

/*Section Books Collection*/
#titlebooksection {
  text-align: center;
  padding-top: 2em;
}

.bookscollection {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 15%;
  gap: 2em;
  margin: 2em 5em 3em 5em;
  place-content: center;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.mediaimg {
  padding: 2em;
  display: grid;
  grid-template-rows: min-content;
}

.mediaimg > img {
  inline-size: 100%;
  object-fit: cover;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
}

.snaps-inline > * {
  scroll-snap-align: start;
  scroll-padding-inline: 1 rem;
}

@media screen and (max-width: 800px) {
  .bookscollection {
    display: block;
  }
}

#btnBookInfo {
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px 20px;
  color: white;
  background-color: #822292;
}

.btn {
  background-color: #822292;
  border: none;
  color: white;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  font-size: 20px;
  margin-top: 1em;
  border-radius: 5px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: black;
}

/*End Section Books Collection */

/*Footer */
/*Contact Us */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  background-color: rgb(17, 9, 9, 0.9);
}

.footer {
  margin-top: 2em;
}

#h2footer {
  color: white;
  font-size: x-large;
  font-weight: 600;
}

.footer .name-email {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2em;
}

label {
  color: white;
}

.footer input,
.footer textarea {
  width: 90%;
  resize: none;
  padding: 0.6rem;
  margin-top: 0.5rem;
  border-radius: 0.375rem;
}

.button-footer {
  display: flex;
  justify-content: center;
}

.footer button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #831aa3;
  border: none;
  margin-top: 1rem;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  color: white;
  border-radius: 0.375rem;
}

.footer button:hover {
  background-color: black;
}

.footer .message-container {
  margin-top: 1rem;
}

.fa-stack,
#follow {
  color: #c4c4c4;
  font-size: x-large;
  align-items: center;
}

#contactfollow {
  display: block;
}

@media screen and (max-width: 767px) {
  .footer .name-email {
    grid-template-columns: 1fr;
  }
}

/*End Footer */
/* */
